.sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 30%;
  /* background-color: rgba(200, 200, 200, 0.2); */
}

.react-calendar {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
